.container {
    padding: 0 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 100%;
    height: 20rem;
}

.headerHomeImage {
    width: 100%;
    height: 20rem;
}

.backToHome {
    margin: 3rem 0 0;
}
