.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 3px solid pink;
    border-radius: 5px;
    padding: 5px;
}

.content {
    display: inline-block;
}

.contentItem {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.twoContent {
    height: 150px;
    overflow: hidden;
}